* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem; }

.header {
  display: flex;
  justify-content: space-between;
  padding: 3rem 5rem; }
  .header .site-title {
    text-transform: uppercase; }
  .header .top-nav__menu {
    display: flex;
    justify-content: space-between; }
    .header .top-nav__menu li {
      margin: 2rem;
      list-style: none; }

.main {
  max-width: 70rem;
  margin: auto; }

section {
  margin: auto; }

.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .intro__avatar {
    height: 25rem;
    border-radius: 50%;
    padding-bottom: 5rem; }
